@model IEnumerable<VideoStreamer.Models.MovieDirectory>

@{
    ViewBag.Title = "Movie List";
}


<h2>MovieDirectory</h2>

<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
            <table>
            @foreach (VideoStreamer.Models.Movie movie in item.Movies)
            {
                <tr>
                    <td>
                        @movie.Title
                        @*Html.ActionLink("Watch Video", "Index", "Video", routeValues: new { filepath = movie.FullName, name = movie.Title }, htmlAttributes: null);*@
                        @Html.ActionLink("Watch Video", "WatchMovie", "Movie", new { fullPath = movie.FullName }, null)
                        @*@Html.ActionLink("Watch Video", "GetVideoStream", "VideoStream", routeValues: new { filepath = movie.FullName, ext = movie.Ext }, htmlAttributes: null);*@
                    </td>
                </tr>
                
            }
            </table>
        </td>
    </tr>
}

</table>
